* {
  margin: 0;
}
@font-face {
  font-family: "Brannboll_Ny_PersonalUseOnly";
  src: url(../fonts/Brannboll_Ny_PersonalUseOnly.eot) format("eot"),
    url(../fonts/Brannboll_Ny_PersonalUseOnly.woff) format("woff"),
    url(../fonts/Brannboll_Ny_PersonalUseOnly.ttf) format("ttf");
}
@font-face {
  font-family: "Digi Delbar2 Bold ";
  src: url(../fonts/Digi\ Delbar2\ Bold\ .eot) format("eot"),
    url(../fonts/Digi\ Delbar2\ Bold\ .woff) format("woff"),
    url(../fonts/Digi\ Delbar2\ Bold\ .ttf) format("ttf");
}

/* font- family -- font-fa=> font (farsi/ persian)  font-en=> font english*/
.font-fa {
  font-family: "Digi Delbar2 Bold ";
}
.font-en {
  font-family: "Brannboll_Ny_PersonalUseOnly";
}
.c-body-bg {
  background-image: url(../img/my\ baby\ backgrand.png);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  background-clip: content-box;
}
.logo {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.477);
  color: black;
  border: 0;
  font-size: 28px;
}
/* decoration => de   de-a=> text-decoration: none; for <a></a>  */
.de-a {
  text-decoration: none;
}
/* header-a => tag a in header */
.header-a {
  color: rgb(0, 0, 0);
}
.header-a:hover {
  background-color: rgba(2, 255, 255, 0.805);
  padding: 12px 13px;
  border-radius: 10%;
  font-size: 20px;
}
/* c=> class  /  c-li => class for list(li) */
.c-li {
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.17);
  display: inline;
  float: right;
  margin: 0 2px;
  padding: 3px 3px;
  border-radius: 10%;
}
.c-li:hover {
  background-color: rgba(255, 255, 255, 0);
}
/* header-c => class for header */
.header-c {
  width: auto;
  height: 300px;
}
/* c-main=> class for main  */
.c-main {
  /* background: rgb(131, 12, 115);
  background: linear-gradient(
    60deg,
    rgba(201, 20, 177, 0.625) 35%,
    rgba(5, 108, 128, 0.608) 100% */
  );
}
/* c-h1-main => class <h1> on <main> */
.c-h1-main {
  direction: rtl;
}
