* {
  margin: 0;
}
@font-face {
  font-family: "Brannboll_Ny_PersonalUseOnly";
  src: url(../fonts/Brannboll_Ny_PersonalUseOnly.eot) format("eot"),
    url(../fonts/Brannboll_Ny_PersonalUseOnly.woff) format("woff"),
    url(../fonts/Brannboll_Ny_PersonalUseOnly.ttf) format("ttf");
}
@font-face {
  font-family: "Digi Delbar2 Bold ";
  src: url(../fonts/Digi\ Delbar2\ Bold\ .eot) format("eot"),
    url(../fonts/Digi\ Delbar2\ Bold\ .woff) format("woff"),
    url(../fonts/Digi\ Delbar2\ Bold\ .ttf) format("ttf");
}

/* font- family -- font-fa=> font (farsi/ persian)  font-en=> font english*/
.font-fa {
  font-family: "Digi Delbar2 Bold ";
}
.font-en {
  font-family: "Brannboll_Ny_PersonalUseOnly";
}
.c-body-bg {
  background-image: url(../img/mybabybackgrand.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
@media only screen and (max-width: 412px) {
  .c-body-bg {
    background-image: url(../img/zahra\ 1.png);
  }
}
@media only screen and (max-width: 768px) {
  .c-body-bg {
    background-image: url(..//img/backgr.png);
  }
}

.logo {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.477);
  color: black;
  border: 0;
  font-size: 28px;
}
.logo {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.477);
  color: black;
  border: 0;
  font-size: 28px;
}
/* decoration => de   de-a=> text-decoration: none; for <a></a>  */
.de-a {
  text-decoration: none;
}
/* header-a => tag a in header */
.header-a {
  color: rgb(0, 0, 0);
}
.header-a:hover {
  background-color: rgba(2, 255, 255, 0.805);
  padding: 12px 13px;
  border-radius: 10%;
  font-size: 20px;
}
/* c=> class  /  c-li => class for list(li) */
.c-li {
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.17);
  display: inline;
  float: right;
  margin: 0 2px;
  padding: 3px 3px;
  border-radius: 10%;
}
.c-li:hover {
  background-color: rgba(255, 255, 255, 0);
}
